ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.menu li {
    float: left;
}

.menu li a {
    display: table;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 0;
}

.menu li a:hover:not(.active) {
    background-color: #eee;
}

.menu a.active {
    color: white;
    background-color: #AFD5FF;
}