ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: table;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    border: 0;
}

li a:hover:not(.active) {
    background-color: #eee;
}

li a.active {
    color: white;
    background-color: #AFD5FF;
}